@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@-webkit-keyframes animate {
    from {
        opacity: 0;
        top: -100
    }

    to {
        opacity: 1;
        top: 0
    }
}

@keyframes animate {
    from {
        opacity: 0;
        top: -100
    }

    to {
        opacity: 1;
        top: 0
    }
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F9F9F9;
}

.pTitle {
    padding: 10px;
    display: inline;
}

.projects {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    padding: 100px;
}

.projectDiv {
    padding: 10px;
}

.documentTitle,
.addProject {
    display: flex;
    justify-content: center;
}

#createNew {
    padding: 10px;
}

.pTitle,
.taskTitle {
    cursor: pointer;
    width: 100%;
}

.expandContent,
.expandTask {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.createProject,
.addToList,
.editTask {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.3);
}

.project,
.addTodo,
.editTodo {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 13rem;
    gap: 10px;
    margin: auto;
    padding: 10px 10px 30px 10px;
    border: black solid;
    background-color: white;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 1s;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formTitle,
.taskFormTitle,
.editFormTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formTitle {
    gap: 3rem;
}

.taskFormTitle {
    gap: 5rem;
}

.editFormTitle {
    gap: 7.6rem;
}

.fields {
    display: flex;
    flex-direction: column;
}

input[type="submit"],
button {
    background: transparent;
    border: solid 1px;
    border-radius: 10px;
}


button:hover, input[type="submit"]:hover {
    cursor: pointer;
}

#createNew {
    color: black;
    border: solid black;
    margin: 10px;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 8rem;
}

#createNew:hover, input[type="submit"]:hover {
    background-color: black;
    color: white;
    transition: all .5s ease;
}

.expandContent {
    margin-left: 33px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskButtons {
    display: flex;
    justify-content: center;
}

.projectButtons {
    display: flex;
    justify-content: center;
}

.addTask {
    border-color: #76B947;
    color: #76B947;
}

.addTask,
.removeProject {
    margin: 5px;
    padding: 5px;
}

.editTaskButton {
    border-color: #85A1F2;
    color: #85A1F2;
}

.removeTask, .removeProject {
    border-color: #ff5757;
    color: #ff5757;
}

.editTaskButton,
.removeTask {
    margin: 5px;
    padding: 8px;
    align-items: center;
}

.expandTask {
    margin-left: 20px;
    margin-bottom: 13px;
}

.projectDisplay {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 30px;
}

.status {
    font-size: 12px;
    border: solid 1px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    align-self: center;
}